// Btn
@btn-default-text: #575757;
@btn-default-bg: #f7f7fa;
@btn-default-radius: 6px;
@btn-default-hover-text: none;
@btn-default-hover-bg: #e5e5ea;
@btn-default-transition: color 0.15s ease-out, background-color 0.15s ease-out;
@btn-active-text: #fff;
@btn-active-bg: #3498ff;

// Ripple
// Global button ripple switch
@button-ripple: true; // @deprecated use @enable-ripple-effect instead
@enable-ripple-effect: @button-ripple;
@btn-ripple-background-color: rgba(0, 0, 0, 0.2); // @deprecated use @ripple-bg instead
@ripple-bg: @btn-ripple-background-color;
